[Desktop Entry]
Type=Application
Name=MD Editor
Comment=A WYSIWYG Markdown editor
Exec=md-editor %F
Icon=io.github.fchevitarese.MdEditor
Categories=Utility;TextEditor;
Terminal=false
MimeType=text/markdown;
